@import "./resets.scss";

.about {
    width: 100%;
    @include flexy;
    flex-direction: column;
    
    .left {
        margin-top: 4rem;
        width: 100%;
        @include flexy;

        .static-img {
            width: 70%;
            max-width: 40rem;
            transition: all .6s ease-out;
            
            &:hover {
                transition: all .4s ease-in;
                transform: scale(1.01);  
            }
        }
    }
    .right {
        width: 100%;
        padding: 4rem;
        position: relative;

        p {
            text-indent: 1.6rem;
            text-align: justify;
            max-width: 50rem;
            margin: 0 auto;
        }

        &::before {
            position: absolute;
            content: '';
            height: 90%;
            width: 50%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            background-color: #FFEDB4;
            border-radius: 4px;
        }
    }
}