@import "./resets.scss";

.hero {
    width: 100%;
    height: calc(100vh - 8rem);
    background-image: $gradient;
    @include flexy;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    .scroll, .hero-hand {
        display: none;
    }

    .right-hero {
        padding-top: 2rem;
        width: 100%;
        height: auto;
        @include flexy;

        img {
            width: 65%;
            max-width: 30rem;
            transition: all .6s ease-out;

            &:hover {
                transition: all .4s ease-in;
                transform: scale(1.03);  
            }
        }
    }

    .left-hero {
        width: 100%;
        height: auto;
        @include flexy;
        flex-direction: column;
        margin-bottom: 1rem;
        
        h1 {
            text-align: center;
            
            span {
                color: $bg-gold-dark;
            }
        }
        .cta {
            margin: 4rem auto 0 auto;
            a {
                .btn-icon {
                    transform: rotate(-5deg);
                    animation: dance 1s ease-in-out infinite;
    
                    @keyframes dance {
                        0% {
                            transform: rotate(-5deg);
                        }
                        50% {
                            transform: rotate(5deg);
                        }
                        100% {
                            transform: rotate(-5deg);
                        }
                    }
                }
            }
        }
    }

    .bottom {
        width: 85%;
        background: $bg-light;
        padding: .8rem;
        border-radius: 16px 16px 0px 0px;
    }
}

@media screen and (min-width: 768px) {

    .hero {
        flex-direction: row-reverse;
        height: calc(100vh - 9rem);

    
        .right-hero {
            width: 50%;
            margin-top: -8rem;
    
            img {
                width: 80%;
                max-width: 40rem;
            }
        }
    
        .left-hero {
            width: 50%;
            margin: 0;

            .cta {
                @include flexy;
                flex-direction: column;
                margin-bottom: 0;

                a {
                    margin-bottom: 5rem;
                }
    
                .scroll {
                    display: block;
                    text-align: center;
                    color: $bg-gold-dark;
    
                    p {
                        font-size: 2.2rem;
                        line-height: 2.2rem;
                        margin-bottom: 1rem;
                    }
    
                    .scroll-ic {
                        font-size: 3rem;
                        animation: down 2s ease-in-out infinite;
    
                        @keyframes down {
                            0% {
                                transform: translateY(0);
                            }
                            50% {
                                transform: translateY(8px);
                            }
                            100% {
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }
    
        .bottom {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 45%;
        }
    }
}

@media screen and (min-width: 1080px) {

    .hero {
    
        .left-hero {
            
            h1 {
                text-align: left;
            }

            .cta {
                width: 100%;
                flex-direction: row;

                a {
                    margin: 0 4rem 0 -2rem;
                }

                .scroll {
                    margin-bottom: -4rem;
                }
            }

            .scroll {
                display: block;
                text-align: center;
                color: $bg-gold-dark;

                p {
                    font-size: 2.2rem;
                    line-height: 2.2rem;
                    margin-bottom: 1rem;
                }

                .scroll-ic {
                    font-size: 3rem;
                    animation: down 2s ease-in-out infinite;

                    @keyframes down {
                        0% {
                            transform: translateY(0);
                        }
                        50% {
                            transform: translateY(8px);
                        }
                        100% {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }

        .right-hero {
            margin-top: -14rem;
    
            img {
                max-width: 36rem;
            }
        }

        .bottom {
            width: 56.7rem;
            padding: 1.6rem 0;
            margin: 0 auto;

            .headline {
                width: 100%;
                margin: 0;
            }
        }

        .hero-hand {
            display: block;
            position: absolute;
            bottom: -18px;
            right: 6rem;
        }
    }
}