@import "../styles/resets.scss";

.use-bootstrap, #use-bootstrap {
    @import "bootstrap/scss/bootstrap";
}

.projects {
    width: 100%;
    padding-top: 12rem;
    background-image: $gradient;

    .projects-container {
        width: 100%;
        @include flexy;
        flex-direction: column;
        margin-top: 5rem;

        .top-projects, .bottom-projects {
            width: 100%;
            @include flexy;
            flex-direction: column;
        }

        .bottom-projects {
            opacity: 0;
            display: none;
        }
    
        .show-bottom {
            display: flex;
            opacity: 1;
            animation: slide-in .6s ease-in forwards;
    
            @keyframes slide-in {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    
        .hide-bottom {
            transition: all .3s ease-in-out;
            opacity: 0;
            display: none;
        }

        .card {
            width: 80%;
            max-width: 40rem;
            @include flexy;
            flex-direction: column;
            padding: .8rem;
            background: $bg-light;
            border-radius: 4px;
            margin-bottom: 4rem;
            cursor: pointer;
            @include svg-hov;

            .info {
                margin-top: .8rem;
                padding: 0 .8rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                .arrow {
                    @include ic-mob;
                    color: $bg-dark;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .projects {
    
        .projects-container {
            margin-top: 6rem;
    
            .top-projects, .bottom-projects {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: repeat(2, auto);
                justify-items: center;
                align-items: center;
            }

            .card {
                margin-bottom: 6rem;
            }

            .show-bottom {
                display: grid;
            }
        
            .hide-bottom {
                opacity: 0;
                display: none;
            }
        }
    }
}